* {
	box-sizing: inherit;
}

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	height: 100%;
	font-family: $base_font;

	&.reduced-motion *:not(.exclude-reduced-motion) {
		transition-property: opacity, color, background-color !important;
		animation: none !important;
		transform: none !important;
	}
}

.wp-site-blocks {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading_font;
	letter-spacing: 1px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border: none;
	border-radius: 3px;
	background: $color__accent;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $color__text-secondary;
	line-height: 1;
	padding: 0.6em 1em;

	&:hover, &:active, &:focus {
		transition: all .3s ease-in-out;
		background: $color__border-button-hover;
	}
}

a {
	transition: all .3s ease-in-out;
	color: $color__accent;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		transition: all .3s ease-in-out;
		color: $color__link-hover;
		text-decoration: none;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

pre {
	width: 100%;
	background: $color__text-main;
	border-radius: 15px;
	padding: 1.5rem;
	color: $color__text-secondary;
}
