/* Blocks ---------- */
//@todo: need to be block stylesheets

.has-header-gradient-gradient-background {
    margin-block-start: 0;
}

.wp-block-image img {
    border: none;
}

.wp-block-separator {
	border: 1px solid;
}

.is-style-button-fill {
	 a {
		 @include link_btn_style();
	 }
}

.is-style-button-outline,
.wp-block-post-terms {
    white-space: nowrap;

    a {
       @include link_btn_style_outline();
		line-height: 3;
    }

    &.taxonomy-post_tag {
        a {
            font-size: var(--wp--preset--font-size--xs);
        }
    }
}

.is-style-arrow,
.is-style-down-arrow {
	position: relative;

	a {
		@include link_arrow_style_base();
	}
}

.is-style-arrow {
    a {
       @include link_arrow_style_right();
    }
}

.is-style-down-arrow {
	a {
		@include link_arrow_style_down();
	}
}

.wp-block-post-title a:visited {
    color: inherit;
}

.wp-block-navigation-link,
.wp-social-link {
    a {
        transition: transform .2s;

        &:hover {
            transform: scale3d(1.2, 1.2, 1.2);
        }
    }
}

.wp-block-post > .wp-block-group.is-style-full-height {
    height: 100%;
}

.wp-block-quote {
	border: none;
	border-left: 3px solid var(--wp--preset--color--heading-secondary);
	font-size: 1.3rem;
	color: var(--wp--preset--color--heading-secondary);
}
