/* RESPONSIVE ---------------- */

@mixin mobile-only {
	@media (max-width: map-get($grid-breakpoints, mobile)) {
		@content;
	}
}

@mixin tablet-up {
	@media (min-width: map-get($grid-breakpoints, md)) {
		@content;
	}
}

@mixin large-up {
	@media (min-width: map-get($grid-breakpoints, lg)) {
		@content;
	}
}

/* LINK STYLES ---------------- */

@mixin link_btn_style {
	border: none;
	border-radius: 3px;
	background: var(--wp--preset--color--accent-orange);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--wp--preset--color--text-secondary);
	line-height: 1;
	padding: 0.6em 1em;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		transition: all .3s ease-in-out;
		background: $color__border-button-hover;
		box-shadow: 1px 2px 20px var(--wp--preset--color--accent-orange);
	}
}

@mixin link_btn_style_outline {
	border: 1px solid $color__background-button;
	border-radius: 3px;
	background: transparent;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $color__background-button;
	line-height: 3;
	padding: 0.6em 1em;
	word-break: normal;
	overflow-wrap: break-word;


	&:hover,
	&:active,
	&:focus {
		transition: all .3s ease-in-out;
		background: $color__background-button;
		color: var(--wp--preset--color--text-secondary);
	}
}

@mixin link_arrow_style_base {
	position: relative;
	padding-right: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	color: var(--wp--preset--color--accent-orange);
}

@mixin link_arrow_style_right {
	text-decoration: none;

	&::after {
		content: "→";
		position: absolute;
		right: 0;
		transition: transform 0.3s ease-in-out;
	}

	&:hover::after {
		transform: translateX(0.3em);
	}
}

@mixin link_arrow_style_down {
	text-decoration: none;

	&::after {
		content: "→";
		display: block;
		transition: transform 0.3s ease-in-out;
		transform: rotate(90deg);
	}

	&:hover::after {
		transform: translate(0px, 3px) rotate(90deg);
	}
}

/* UTILITIES  ---------------- */

@mixin remove-btn-defaults() {
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
}

@mixin screen-reader-only {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; // Many screen reader and browser combinations announce broken words as they would appear visually.
}
