footer {
    margin-block-start: 0;
    position: relative;

    > .wp-block-group:first-of-type {
        margin-bottom: -10px;
    }

    svg {
        width: 100%;

        .shape-fill {
            fill: variables.$color__background-footer;
        }
    }
}

//@todo: Make editable from the WP editor
.home {
    footer {
        > .wp-block-group:first-of-type {
            background-color: var(--wp--preset--color--bg-header);
        }
    }
}